*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

ul {
	list-style: none;
}

img {
	display: block;
	max-width: 100%;
}

h1,
h2 {
	font-family: 'Outfit', sans-serif;
	font-weight: 600;
	color: #8bacda;
	line-height: 1.2727;
}

h2 {
	font-size: 1.375em;
}

p {
	font-weight: 300;
}

body {
	position: relative;
	display: flex;
	min-height: 100vh;
	background-color: #0d192b;
	font-family: 'Outfit', sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeSpeed;
	font-size: 1.6rem;
	font-weight: 400;
	color: #8bacda;
	line-height: 1.5;
}

/* ========================= */
/* General Components */
/* ========================= */

.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid rgba(0, 0, 0, 0);
	color: inherit;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	transition: all 0.15s ease-in-out;
}

.btn--link {
	color: #fff;
}

.btn--link:hover {
	color: #00fff7;
}

[class^='icon-'] {
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.icon-ethereum {
	width: 1.1rem;
	height: 1.8rem;
	background-image: url('../images/icons/ethereum.svg');
}

.icon-clock {
	width: 1.6rem;
	height: 1.6rem;
	background-image: url('../images/icons/clock.svg');
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	border: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
}

.container {
	padding: 0 2.4rem;
}

/******************/
/* Main */
/******************/

main,
main > .container {
	display: flex;
	flex: auto;
}

main > .container {
	justify-content: center;
	align-items: center;
}

/******************/
/* Card */
/******************/

.card,
.card__image,
.card__content {
	display: flex;
	flex-direction: column;
}

.card__stats-list,
.card__stats-list-item,
.card__author {
	display: flex;
	align-items: center;
}

.card {
	width: 100%;
	max-width: 35rem;
	padding: 2.4rem;
	background-color: #14253d;
	margin: 3rem 0 6rem;
	border-radius: 15px;
	box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1);
}

.card__image {
	position: relative;
	background-color: #8bacda;
	margin-bottom: 2.4rem;
	border-radius: 8px;
	cursor: pointer;
	overflow: hidden;
}

.card__image img {
	width: 100%;
	height: auto;
	pointer-events: none;
}

.card__title {
	margin-bottom: 1.2rem;
}

.card__desc {
	margin-bottom: 1.8rem;
}

.card__stats-list-item {
	gap: 0.77rem;
	width: 50%;
	font-size: 1.5rem;
}

.card__stats-list-item:first-child {
	font-weight: 600;
	color: #00fff7;
}

.card__stats-list-item:last-child {
	justify-content: flex-end;
}

.card__stats-list-item i {
	flex: none;
}

.card__author {
	gap: 1.6rem;
	padding-top: 1.6rem;
	margin-top: 1.6rem;
	border-top: 1px solid #2f415b;
}

.card__author-img {
	flex: none;
	width: 3.3rem;
	height: auto;
	border: 1px solid #fff;
	border-radius: 50%;
}

.card__author-desc {
	font-size: 15;
}

@media (min-width: 48em) {
	.card__title {
		margin-bottom: 1.6rem;
	}

	.card__desc {
		margin-bottom: 2.4rem;
		font-size: 1.8rem;
	}

	.card__stats-list-item,
	.card__author-desc {
		font-size: 1.6rem;
	}

	.card__author {
		margin-top: 2.4rem;
	}
}

/* ========================= */
/* Footer */
/* ========================= */

footer,
footer .container {
	display: flex;
}

footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 1.2rem 0;
	font-size: 1.2rem;
	text-align: center;
}

footer .container,
footer p {
	flex: auto;
}

footer p {
	font-size: inherit;
}

/* ========================= */
/* Overwrite Swiper Web Component */
/* ========================= */

swiper-container {
	--swiper-theme-color: #8bacda;
	--swiper-navigation-size: 20px;
	width: 100%;
	text-rendering: auto;
}

swiper-slide {
	user-select: none;
}
